# Database
DB_PORT=port
DB_HOST=hostname
DB_NAME=database
DB_USER=username
DB_PASSWORD=password

# Debug
DEBUG=True OR False

#secret key
SECRET_KEY=your-django-secret-key

#deepgram api key
DEEPGRAM_API_KEY=your-key

#cartesia api key
CARTESIA_API_KEY=your-key